<button class="btn btn-sm sm:btn-md m-4 sm:m-6" (click)="back()">
  Zurück
</button>
@if(book(); as currentBook){
  <app-book [book]="currentBook"></app-book>
}
@if (isLoading()) {
  <div class="flex justify-center items-center">
    <span class="loading loading-spinner loading-md"></span>
  </div>
} @else {
  <div class="flex flex-wrap justify-center gap-6 px-32 pb-16">
    @for (book of recommendedBooks(); track $index) {
      <app-preview-book [book]="book"></app-preview-book>
    } @empty {
      <p>No books found</p>
    }
  </div>
}
